<header id="header">
    <div>
        <img class="title center" id="me" src="../images/me.png">
        <h1 class="title center">Spencer Axford</h1>
        <p id="bio"> I'm a Computer Engineering Student at Memorial University of Newfoundland with experience in Full Stack and Mobile Development.</p>
        <div class="icons-header">
            <a href="mailto:saxford@mun.ca"><i class="icon fa fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/spencer-axford/"><i class="icon fa fa-linkedin"></i></a>
            <a href="https://github.com/s-axford"><i class="icon fa fa-github-alt"></i></a>
        </div>
    </div>
</header>