<h3 class="title center">Personal Projects</h3>
<div class="info_box center">
    <div class="column">
        <button class="collapsible entry entry_header" id="watchful">
            <img class="company_icon entry_item center" src="../images/rocketcol.png">
            <div class="entry_info center">
                <a><b>WatchfulSky</b></a>
                <p>Android App</p>
            </div>
        </button>
        <div class="content center">
            <p>WatchfulSky is an Android application written in Java that allows users to track satellites in real time and view the current arrangement of the planets. Satellite information is collected in the form of NORAD two-line element data from <a href="https://celestrak.com/">Celestrak</a>. Orbital calculation are then completed using <a href="https://www.orekit.org/">Orekit</a>.</p>
            <table>
                <tr>
                    <td><img class="center" id="ws_main" src="../images/watchfulskyscreens/homescreen.png"></td>
                    <td><img class="center" id="ws_maps" src="../images/watchfulskyscreens/mapsscreen.png"></td>
                    <td><img class="center" id="ws_helio" src="../images/watchfulskyscreens/helioscreen.png"></td>
                </tr>
            </table>
            <p>From the main screen the user can navigate to the satellite tracking or planet tracking functionality. </p>
            <p>When the satellite tracking option is selected a list of satellites will appear allowing the user to pick any of the NORAD registered satellites for tracking. Once a satellite is selected its current position is plotted on google maps along with its former and future paths. From the maps screen the user can view information about the satellite, add the satellite to the favorites list, or use the time picker. The time picker allows the user to see where a satellite will be at a user designated time by adding a new marker.</p>
            <p>When the plant alignment option is selected a movable view of the solar system is displayed allowing the user to explore the current layout of the planets and read information about each planets movement.</p>
            <p>The code can be viewed at the github repo</p>
            <a href="https://github.com/s-axford/WatchfulSky"><i class="icon fa fa-github-alt"></i></a>
        </div>
    </div>


    <div class="column">
        <button class="collapsible entry entry_header" id="folklore">
            <img class="company_icon entry_item center" src="../images/folklore.png">
            <div class="entry_info center">
                <a><b>Folklore</b></a>
                <p>Alexa Skill</p>
            </div>
        </button>
        <div class="content center">
            <p>The Folklore Alexa skill is a dungeon crawling role-playing game, the player dictates their actions to Alexa, while Alexa describes rooms and enemies to the player. The player is able to battle enemies, talk to characters, and travel through the various settings. </p>
            <p>The skill was written in Python and is hosted on Amazon Web Services.</p>
            <p>Folklore can be downloaded from the Amazon Canada Alexa Skill Store</p>
            <a href="https://www.amazon.ca/saxford-Folklore/dp/B07P6V9V59/"><i class="icon fa fa-amazon"></i></a>
            <p>The code can be viewed at the github repo</p>
            <a href=https://github.com/DelightedWaif/Folklore-Alexa-Skill><i class="icon fa fa-github-alt"></i></a>

        </div>
    </div>

    <div class="column">
        <button class="collapsible entry entry_header" id="retropi">
            <img class="company_icon entry_item center" src="../images/RetroPie_Logo.png">
            <div class="entry_info center">
                <a><b>piGRRL Zero</b></a>
                <p>Mobile Gaming System</p>
            </div>
        </button>
        <div class="content center">
            <p>The <a href="https://learn.adafruit.com/pigrrl-zero/overview">piGRRL Zero</a> is a handheld gaming device running <a href="https://retropie.org.uk/">RetroPie</a> originally designed by Adafruit. The project consisted of soldering the components together, installing the RetroPie OS, and 3D printing the buttons and enclosure. </p>
            <p>The system has a USB port for adding video game ROM’s, a micro USB port for charging, and a toggle switch for power. </p>
            <p>Parts:</p>
            <p> 1x Adafruit PiTFT 2.2" <br />
                1x Raspberry Pi Zero <br />
                1x PowerBoost 1000C <br />
                1x 2000mAh Battery <br />
                10x 6mm Tactile Buttons <br />
                1x Slide Switch <br />
                1x USB Mini Wifi Adapter <br />
                1x Tiny OTG Adapter - USB Micro to USB <br />
                2x PiGRRL Zero Gamepad PCBs <br />
                1x 2x20-pin Strip Dual Male Header</p>
            <p>Final Result:</p>
            <img class="center" id="pi_image" src="../images/pigrrl_running.jpg">
        </div>
    </div>
</div>