<h3 class="title">Personal Projects</h3>
<div class="info_box center">
    <div class="column">
        <button class="collapsible entry entry_header" id="watchful">
            <img class="company_icon entry_item center" src="../images/rocketcol.png">
            <div class="entry_info center">
                <a><b>WatchfulSky</b></a>
                <p>Android App</p>
            </div>
        </button>
        <div class="content center">
            <p>The code can be viewed at the github repo</p>
            <a href="https://github.com/s-axford/WatchfulSky"><i class="icon fa fa-github-alt"></i></a>
        </div>
    </div>


    <div class="column">
        <button class="collapsible entry entry_header" id="folklore">
            <img class="company_icon entry_item center" src="../images/folklore.png">
            <div class="entry_info center">
                <a><b>Folklore</b></a>
                <p>Alexa Skill</p>
            </div>
        </button>
        <div class="content center">
            <p>The skill can be downloaded from the Amazon Canada Alexa Skill Store</p>
            <a href="https://www.amazon.ca/saxford-Folklore/dp/B07P6V9V59/"><i class="icon fa fa-amazon"></i></a>
            <p>and the code can be viewed at the github repo</p>
            <a href=https://github.com/DelightedWaif/Folklore-Alexa-Skill><i class="icon fa fa-github-alt"></i></a>

        </div>
    </div>

    <div class="column">
        <button class="collapsible entry entry_header" id="retropi">
            <img class="company_icon entry_item center" src="../images/RetroPie_Logo.png">
            <div class="entry_info center">
                <a><b>piGRRL Zero</b></a>
                <p>Mobile Gaming System</p>
            </div>
        </button>
        <div class="content center">
            <p>Parts:</p>
            <p> 1x Adafruit PiTFT 2.2" <br />
                1x Raspberry Pi Zero <br />
                1x PowerBoost 1000C <br />
                1x 2000mAh Battery <br />
                10x 6mm Tactile Buttons <br />
                1x Slide Switch <br />
                1x USB Mini Wifi Adapter <br />
                1x Tiny OTG Adapter - USB Micro to USB <br />
                2x PiGRRL Zero Gamepad PCBs <br />
                1x 2x20-pin Strip Dual Male Header</p>
            <p>Final Result:</p>
            <img class="center" id="pi_image" src="../images/pigrrl.jpg">
        </div>
    </div>
</div>