<div class="info_box">
    <h3 class="title">Personal Projects</h3>
    <div class="entry">
        <div class="entry_header">
            <img class="company_icon entry_item" src="../images/folklore_logo.png">
            <div class="entry_info">
                <a><b>WatchfulSky - Satellite Tracking Android App</b></a>
                <p class="entry_description">Software Developer</p>
                <p class="date">Jan 2018 - April 2019</p>
            </div>
        </div>
    </div>
    <div class="entry">
        <div class="entry_header">
            <img class="company_icon entry_item" src="../images/folklore_logo.png">
            <div class="entry_info">
                <a><b>Folklore - Role Playing Adventure Alexa Skill Game</b></a>
                <p class="entry_description">Software Developer</p>
                <p class="date">Sept 2018 - Dec 2018</p>
                <a href="#" class="btn btn-info" role="button">Link Button</a>
            </div>
        </div>
    </div>
</div>