<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Axford</title>
    <link rel="stylesheet" href="./sources/style.css" type="text/css">
    <link rel="stylesheet" href="./sources/home.css" type="text/css">
</head>
<body>
 <header>
     <div id="header">
        <h1 class="title">Spencer Axford</h1>
        <p id="bio"> I'm a Computer Engineering Student at Memorial University of Newfoundland with experience in Full Stack and Mobile Development.</p>
     </div>
 </header>
     <div class="info_box">
         <h3 class="title">Work Experience</h3>
         <div class="entry">
             <div class="entry_header">
                <img class="company_icon entry_item" src="images/lemur.png">
                <div class="entry_info">
                    <a><b>Lemur Vehicle Monitors</b></a>
                    <p class="entry_description">Software Developer</p>
                    <p class="date">May 2018 - Sept 2018</p>
                </div>
             </div>
             <ul class="entry_list">
                 <li class="list_item">Realized full stack project using Ruby with Sinatra and JavaScript with libraries including jQuery and Bootstrap</li>
                 <li class="list_item">Implemented mobile features for both iOS and Android using Objective C and Java</li>
                 <li class="list_item">Developed software based vehicle diagnostics simulator and testing system</li>
             </ul>
         </div>
     </div>
 {{ content }}
</body>
</html>
