html, body {
  overflow-x: hidden;
  margin: 0 auto; }

body {
  background-color: #808080; }

h1, h2, h3, h4, a {
  font-family: lato, sans-serif; }

p, li {
  font-family: "Gentium Book Basic", Cambria, Georgia, Times, serif; }

h1 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.5rem; }

a {
  color: #FF8C00; }

a:visited {
  color: #FF8C00; }

.center {
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#header {
  margin: 0 -30px;
  padding: 50px;
  border-bottom: 10px solid #FF8C00;
  background: #202020;
  margin: 0 auto; }

#me {
  width: 225px;
  height: 150px;
  display: block; }

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px; }
  .icons-header .icon {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s; }
    .icons-header .icon:hover {
      color: #FF8C00;
      background: #FFF; }
    .icons-header .icon:active {
      color: #FF8C00;
      background: #FFF; }

.icon {
  text-align: center;
  color: #FFF;
  width: 20px;
  height: 20px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #FFF;
  transition: all .7s; }
  .icon:hover {
    color: #FF8C00;
    background: #FFF; }
  .icon:active {
    background: #FFF; }

#bio {
  margin: auto;
  padding-top: 1em;
  width: fit-content;
  text-align: center;
  color: #ffffff; }

.info_box {
  background-color: #808080;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px; }
  .info_box .column {
    width: 15em;
    transition: all .4s; }
  .info_box .column.active {
    width: 70%; }

.title {
  padding: 10px;
  margin: auto;
  width: fit-content;
  color: #FF8C00; }

.entry {
  display: flex;
  justify-content: center;
  text-align: center; }
  .entry b {
    margin-top: 10px; }
  .entry img {
    display: block;
    width: auto;
    height: 75px;
    padding: 5px; }
  .entry p {
    margin: 0;
    color: #ffffff; }
  .entry ul {
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px; }
  .entry li {
    margin-top: 10px;
    margin-bottom: 10px; }
  .entry .entry_header {
    display: flex;
    margin: auto;
    padding-left: 1em;
    color: #ffffff; }
  .entry .entry_info {
    margin-top: 15px; }
  .entry .date {
    font-size: 0.75rem; }

.collapsible {
  background-color: #202020;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  border: #FF8C00;
  border-radius: 10%;
  width: 15em;
  max-width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 5px 5px 0 5px;
  display: block;
  transition: all .4s; }

.collapsible.active {
  width: 100%;
  min-width: 25%;
  padding: 18px;
  border-radius: 2em 2em 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: #FF8C00; }
  .collapsible.active b {
    color: #202020; }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: #FF8C00; }
  .collapsible:hover b {
    color: #202020; }

/* Style the collapsible content. Note: hidden by default */
.content {
  min-width: 25%;
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #202020;
  color: #ffffff;
  border-radius: 0 0 2em 2em;
  transition: all .4s; }
  .content p {
    min-width: 100%;
    width: 0;
    text-align: left; }
  .content table {
    table-layout: fixed;
    min-width: 100%;
    width: 0; }
  .content td {
    width: 33%; }
    .content td img {
      width: 95%; }

.collapsible .entry {
  visibility: visible;
  opacity: 1; }

.collapsible:active .entry {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear; }

.content_image {
  width: 40em;
  height: auto;
  max-width: 95%; }

.watchful {
  float: left; }

/*# sourceMappingURL=style.css.map */
