$dark_background: #202020;
$light_background: #808080;
$accent: #FF8C00;
$text_color: #ffffff;
$title_font: lato, sans-serif;
$page_font: 'Gentium Book Basic', Cambria, Georgia, Times, serif;

html, body {
  overflow-x:hidden;
  margin: 0 auto;
}

body{
  background-color: $light_background;
}
h1, h2, h3, h4, a{
  font-family: $title_font;
}
p, li{
  font-family: $page_font;
}
h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}

a {
  color: $accent;
}

a:visited {
  color: $accent;
}

.center {
  justify-content: center;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

#header {
  margin: 0 -30px;
  padding: 50px;
  border-bottom: 10px solid $accent;
  background: $dark_background;
  margin: 0 auto;
}
#me {
  width: 225px;
  height: 150px;
  display: block;
}
.icons-header{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  .icon{
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    &:hover {
      color: $accent;
      background: #FFF;
    }
    &:active {
      color: $accent;
      background: #FFF;
    }
  }
}
.icon{
  text-align: center;
  color: #FFF;
  width: 20px;
  height: 20px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #FFF;
  transition: all .7s;
  &:hover {
    color: $accent;
    background: #FFF;
  }
  &:active {
    background: #FFF;
  }
}
#bio {
  margin: auto;
  padding-top: 1em;
  width: fit-content;
  text-align: center;
  color: $text_color;
}
.info_box{
  background-color: $light_background;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;

  .column {
    width: 15em;
    transition: all .4s;
  }
  .column.active{
    width: 70%;
  }
}
.title{
  padding: 10px;
  margin: auto;
  width: fit-content;
  color: $accent;
}
.entry{
  display: flex;
  justify-content: center;
  text-align: center;
  b{
    margin-top: 10px;
  }
  img{
    display: block;
    width: auto;
    height: 75px;
    padding: 5px;
  }
  p{
    margin: 0;
    color: $text_color;
  }
  ul{
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
  }
  li{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .entry_header {
    display: flex;
    margin: auto;
    padding-left: 1em;
    color: $text_color;
  }
  .entry_info{
    margin-top: 15px;
  }
  .date{
    font-size: 0.75rem;
  }
}

.collapsible {
  background-color: $dark_background;
  color: $text_color;
  cursor: pointer;
  padding: 18px;
  border: $accent;
  border-radius: 10%;
  width: 15em;
  max-width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 5px 5px 0 5px;
  display: block;
  transition: all .4s;
}

.collapsible.active{
  width: 100%;
  min-width: 25%;
  padding: 18px;
  border-radius: 2em 2em 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: $accent;
  b {
    color: $dark_background;
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: $accent;
  b {
    color: $dark_background;
  }
}

/* Style the collapsible content. Note: hidden by default */
.content {
  min-width: 25%;
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: $dark_background;
  color: $text_color;
  border-radius: 0 0 2em 2em;
  transition: all .4s;
  p {
    min-width: 100%;
    width: 0;
    text-align: left;
  }
  table {
    table-layout: fixed ;
    min-width: 100% ;
    width: 0;
  }
  td {
    width: 33%;
    img {
      width: 95%;
    }
  }
}

.collapsible .entry {
  visibility: visible;
  opacity: 1;
}

.collapsible:active .entry {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#pi_image {
  width: 40em;
  height: auto;
  max-width: 95%;
}

.watchful {
  float:left;
}


